.home {
font-family: Arial, sans-serif;
}
.hero {
height: 90vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
background: linear-gradient(to right, #4f46e5, #6366f1);
color: white;
padding: 20px;
}

.hero p {
margin-top: 15px;
font-size: 1.2rem;
max-width: 600px;
}


.hero-buttons {
margin-top: 25px;
display: flex;
gap: 15px;
}


.btn {
padding: 12px 24px;
border: none;
cursor: pointer;
font-size: 1rem;
border-radius: 6px;
}


.primary {
background-color: #111827;
color: white;
}


.secondary {
background-color: white;
color: #111827;
}


.features {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 20px;
padding: 60px 40px;
}


.feature-card {
padding: 30px;
background: #f9fafb;
border-radius: 10px;
text-align: center;
}


.feature-card h3 {
margin-bottom: 10px;
}


.cta {
background: #111827;
color: white;
text-align: center;
padding: 60px 20px;
}


.cta h2 {
margin-bottom: 20px;
}